h1{
    text-align: center;
    font-family: cursive;
    font-weight: 800;
    font-size: 70px;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
body{
    background-color: rgb(238, 227, 248);
}
nav ul {
    text-align: center;
    display: inline;
    margin-top: 0%;
    padding-top: 0%;
    
}
nav ul li a{
    color: black;
}
#hero{
    text-align: center;
    margin-top: 50px;
}

h3{
    padding-top:30px;
    font-size: 25px;
    font-family: cursive;
}
#Apps{
    text-align: center;
}
#Entree{
    text-align: center;
}
#Dessert{
    text-align: center;
}
#Drinks{
    text-align: center;
}
.container {
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product img{
    width: 140px;
    height: 180px;
    object-fit: none;
    object-position: 5px 10%;
    border: yellow;
  }
  .product2 img{
    width: 140px;
    height: 180px;
    object-fit: none;
    object-position: 5px 10%;
    border: yellow;
  }
  .product3 img{
    width: 190px;
    height: 180px;
    object-fit: none;
    object-position: 5px 10%;
    border: solid black;
  }